.emoji-grid {
  display: flex;
  flex-direction: column;
}

.emoji-grid-row {
  display: flex;
  flex-direction: row;
}

@media (max-width: 500px) {
  .emoji-grid {
    height: auto !important;
    width: 100% !important;
  }
}